.botao-excluir {
  border: none;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 10px;
  background: none;
}
.botao-editar {
  border: none;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 10px;
  background: none;
}
