<section>
  <button
    type="button"
    class="btn btn-secondary m-5"
    routerLink="/criarCentroCusto"
  >
    Adicionar
  </button>
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Nome</th>
        <th scope="col">Data Inicial</th>
        <th scope="col">Data Fim</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let centroCusto of listacentroCusto">
        <th scope="row">{{ centroCusto.codigo }}</th>
        <td>{{ centroCusto.nome }}</td>
        <td>{{ centroCusto.dataInicial | date : "dd/MM/yyyy" }}</td>
        <td>{{ centroCusto.dataFinal | date : "dd/MM/yyyy" }}</td>
        <td>
          <button class="botao-editar">
            <img src="../../../assets/icone-editar.png" />
          </button>
        </td>
        <td>
          <button class="botao-excluir" routerLink="/excluirCentroCustos/delete/{{centroCusto.id}}">
            <img src="../../../assets/icone-excluir.png" />
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
