<section>
  <button type="button" class="btn btn-secondary m-5" routerLink="/criarCentroCusto">Adicionar</button>
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Nome</th>
        <th scope="col">Data Inicial</th>
        <th scope="col">Data Fim</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let centroCusto of listacentroCusto">
        <th scope="row">{{centroCusto.codigo}}</th>
        <td>{{centroCusto.nome}}</td>
        <td>{{centroCusto.dataInicial}}</td>
        <td>{{centroCusto.dataFim}}</td>
      </tr>
    </tbody>
  </table>
</section>
